.ui-slider .ui-slider-handle { width: 6px; margin-left: -3px; }
.tooltipData{
    font-size: small;
}
.tooltip{
    opacity: 0;
    background-color: rgb(117, 166, 189);
    position: absolute;
    width: 165px;
    height: 60px;
    border-radius:5px;
    padding-left: 5px;
}
.tooltipScatter{
    opacity: 0;
    background-color: rgb(117, 166, 189);
    position: absolute;
    width: 160px;
    height: 85px;
    border-radius:5px;
    padding-left: 5px;
}
#caption{
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 4%;
    font-family: serif;
    font-size: 20pt;
}
    
#canvasMap
{
    width: 100%;

    background-color:rgb(245, 245, 255);
}
path.path_geo{
    stroke-width: .5px;
    stroke: black;
}
.axis path,
.axis line{
    stroke:blue;
    stroke-width: .5;
}
.lineLabel{
    stroke: black;
    stroke-width: .5;
    font-size: 10px;
}
.stateFilterEX{
    height: unset;
    overflow: hidden;
}
.stateFilterCOL{
    height: 20px;
    overflow: hidden;
}
circle{
    fill-opacity:5;
}
circle.hlight{
    fill-opacity:1;
}
.axisBkgrnd{
    fill:rgb(245, 245, 255);
    stroke: rgb(245, 245, 255);
}
.outline{
    stroke:black;
    stroke-width: 4px;
}
.bar{
    stroke:none;
}
